body {
    main {
        .accordion {
            background-color: #032233;
            text-align: center;
            padding-top: 10%;
            h2 {
                color: #FFFFFF;
            }
            .groups {
                margin-right: 0;
                padding-bottom: 7%;
                padding-left: 10%;
                margin-top: 90px;
                padding-right: 10%;
                .group-1,
                .group-2 {
                    text-align: center;
                    .card {
                        margin-bottom: 23px;
                        border-radius: 8px;
                        text-align: left;
                        .card-header {
                            padding-right: 20%;
                            .txt {
                                padding-top: 3%;
                                padding-bottom: 3%;
                            }
                            span {
                                color: #03132E;
                                font-weight: bold;
                                @include breakpoint(desktop) {
                                    font-size: 16px;
                                }
                            }
                            button {
                                position: absolute;
                                left: 86%;
                                font-size: 37px;
                                top: 0px;
                                color: #03132E;
                                @include breakpoint(phone) {
                                    margin-left: 45%;
                                    font-size: 37px;
                                    position: static;
                                }
                                @include breakpoint(tablet) {
                                    left: 78%;
                                }
                            }
                        }
                    }
                    .btn-default {
                        background-color: #F2B200;
                        border: solid 1px #F2B200;
                        color: #FFFFFF;
                        font-size: 23px;
                        border-radius: 6px;
                        font-weight: bold;
                        transition: 1s;
                        height: 65px;
                        width: 66%;
                        @include breakpoint(phone) {
                            font-size: 17px;
                            width: 100%;
                            ;
                        }
                    }
                    .btn-default:hover {
                        background-color: #FFFFFF;
                        color: #F2B200;
                    }
                }
                .services {
                    @include breakpoint(phone) {
                        margin-top: 120px;
                    }
                }
            }
            .ques {
                @include breakpoint(phone) {
                    padding-top: 80%;
                }
                @include breakpoint(tablet) {
                    padding-top: 30%;
                }
            }
            .line {
                text-align: left;
                img {
                    @include breakpoint(phone) {
                        width: 100%;
                    }
                }
            }
        }
    }
}